/* Estilos base */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
  animation: changeBackgroundColor 10s infinite alternate;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #3a2525;
  }
  25% {
    background-color: #284639;
  }
  50% {
    background-color: #5c4524;
  }
  75% {
    background-color: #000000;
  }
  100% {
    background-color: #3a2525;
  }
}

.container {
  max-width: 100%;
  margin: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el menú de navegación */
header {
  background-color: #f9f9f9;
  padding: 10px 0;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logo */
.logo {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  max-width: 100%;
  height: 100px;
}

/* Estilos para el menú de navegación */
header nav {
  text-align: left;
}

header nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

header nav li {
  display: inline;
  margin: 0 10px;
}

header nav a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

/* Cambia el color del enlace cuando el mouse está sobre él */
header nav a:hover {
  color: #ff9900;
}


h1, h2 {
  color: #0066cc;
  font-family: 'Helvetica', sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  margin-top: 8px;
  border-radius: 5px;
  color: #fff;
  background-color: #0066cc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #0050a3;
}

button:active {
  transform: translateY(3px) rotate(-3deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.welcome-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  animation: fadeInUp 1s forwards;
  text-align: center;
  transform: translateY(0);
}

.welcome-section h2 {
  color: #0066cc;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 24px;
}

.welcome-section p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  font-weight: bold;
}

.welcome-section:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.resumen-section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.productos-section {
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

#productos-disponibles-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product-card {
  padding: 20px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  transition: width 0.3s;
}

.product-card img {
  width: 250px;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
  max-height: 200px;
}

.productos-section h2 {
  color: #0066cc;
  margin-bottom: 10px;
  text-transform: uppercase;
}

label[for="seleccion-producto"],
label[for="cantidad-producto"] {
  color: #0066cc;
}

label {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  color: #0066cc;
}

label[for="seleccion-producto"],
label[for="cantidad-producto"],
label[for="filtrar-por-mayor"],
label[for="filtrar-por-menor"] {
  vertical-align: middle;
}

/* Estilos para el contenedor de filtros */
.filtro-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.filtro-container label {
  display: block;
  margin-bottom: 5px;
  color: #0066cc;
}

.filtro-container input[type="number"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.filtro-container input[type="checkbox"] {
  margin-right: 5px;
}

.filtro-container button {
  padding: 10px 20px;
  border: none;
  margin-top: 8px;
  border-radius: 5px;
  color: #fff;
  background-color: #0066cc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.filtro-container button:hover {
  background-color: #0050a3;
}

.filtro-container button:active {
  transform: translateY(3px) rotate(-3deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el pie de página */
.piepagina {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex; /* Utilizamos Flexbox para la disposición */
  justify-content: space-between; /* Separa el contenido en dos columnas */
  align-items: center; /* Centra verticalmente el contenido */
}

.texto-informativo, .suscripcion {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.texto-informativo h4, .suscripcion h4 {
  color: #0066cc;
  font-size: 20px;
  margin-bottom: 10px;
}

.texto-informativo p, .suscripcion p{
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  font-weight: bold;
}

.nosotros-section p, .equipo-section p, .contacto-section p {
  font-size: 16px;
  color: #fffbfb;
  line-height: 1.6;
  font-weight: bold;
}

.suscripcion form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suscripcion input[type="email"] {
  margin-bottom: 10px; /* Añade margen en la parte inferior */
}

.suscripcion button {
  margin-top: 10px; /* Añade margen en la parte superior */
}

/* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }

  select {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .product-card {
    width: auto;
    flex: none;
  }

  #productos-disponibles-container {
    flex-direction: column;
  }
  .texto-informativo {
    padding: 0 10px;
  }

  /* Nuevos estilos para dispositivos móviles */
  .texto-informativo,
  .suscripcion {
    flex: 1;
    width: 100%;
    text-align: center;
  }
}

/* Estilos para pantallas medianas, como tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 10px;
  }

  select {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .product-card {
    width: auto;
    flex: none;
  }

  #productos-disponibles-container {
    flex-direction: column;
  }
  .texto-informativo {
    padding: 0 10px;
  }

  /* Nuevos estilos para tabletas */
  .texto-informativo, .suscripcion {
    flex: 1;
    width: 50%;
    text-align: center;
  }
  .suscripcion {
    text-align: right;
  }
}

/* Estilos para pantallas más grandes, como PC */
@media (min-width: 1024px) {
  .filtro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .filtro-container label,
  .filtro-container input[type="checkbox"] {
    flex-basis: 48%; /* Distribuye los elementos en dos columnas */
  }

  .filtro-container button {
    flex-basis: 100%; /* Toma el ancho completo de la fila */
  }

  /* Nuevos estilos para PC */
  .texto-informativo, .suscripcion {
    flex: 1;
    width: auto;
    text-align: center;
  }
  .suscripcion {
    text-align: center;
  }
}

